.icon-48-stations {
      background-image: url(../images/l_stations.png);
      padding-left:60px!important;
}

.icon-48-station {
      background-image: url(../images/l_stations.png);
      padding-left:60px!important;
}

.icon-48-warnings {
      background-image: url(../images/l_warnings.png);
      padding-left:60px!important;
}

.icon-48-warning {
      background-image: url(../images/l_warnings.png);
      padding-left:60px!important;
}

