<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="station_info"
		label="COM_BTS_STATION_INFO_LABEL"
		description="COM_BTS_STATION_INFO_DESC"
	>

        <field name="station_info_activitystatus"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_ACTIVITYSTATUS"
             description="COM_BTS_FORM_DESC_STATION_ACTIVITYSTATUS">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_province_id"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_PROVINCE_ID"
             description="COM_BTS_FORM_DESC_STATION_PROVINCE_ID">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_province"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_PROVINCE"
             description="COM_BTS_FORM_DESC_STATION_PROVINCE">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_district"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_DISTRICT"
             description="COM_BTS_FORM_DESC_STATION_DISTRICT">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_commune"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_COMMUNE"
             description="COM_BTS_FORM_DESC_STATION_COMMUNE">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_mscmss"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_MSCMSS"
             description="COM_BTS_FORM_DESC_STATION_MSCMSS">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_province_id"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_PROVINCE_ID"
             description="COM_BTS_FORM_DESC_STATION_PROVINCE_ID">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_trautc"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_TRAUTC"
             description="COM_BTS_FORM_DESC_STATION_TRAUTC">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_pcumfs"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_PCUMFS"
             description="COM_BTS_FORM_DESC_STATION_PCUMFS">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_co_site"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_CO_SITE"
             description="COM_BTS_FORM_DESC_STATION_CO_SITE">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_localnumber"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_LOCALNUMBER"
             description="COM_BTS_FORM_DESC_STATION_LOCALNUMBER">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_activitydate"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_ACTIVITYDATE"
             description="COM_BTS_FORM_DESC_STATION_ACTIVITYDATE">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_site_id"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_SITE_ID"
             description="COM_BTS_FORM_DESC_STATION_SITE_ID">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_devicetype"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_DEVICETYPE"
             description="COM_BTS_FORM_DESC_STATION_DEVICETYPE">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_stationtype"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_STATIONTYPE"
             description="COM_BTS_FORM_DESC_STATION_STATIONTYPE">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_configuration"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_CONFIGURATION"
             description="COM_BTS_FORM_DESC_STATION_CONFIGURATION">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_combine"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_COMBINE"
             description="COM_BTS_FORM_DESC_STATION_COMBINE">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_manager"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_MANAGER"
             description="COM_BTS_FORM_DESC_STATION_MANAGER">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_mobile"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_MOBILE"
             description="COM_BTS_FORM_DESC_STATION_MOBILE">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_project"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_PROJECT"
             description="COM_BTS_FORM_DESC_STATION_PROJECT">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_caremanagement"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_CAREMANAGEMENT"
             description="COM_BTS_FORM_DESC_STATION_CAREMANAGEMENT">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
         <field name="station_info_backlog"
             type="radio"
             default="0"
             class="btn-group btn-group-yesno"
             label="COM_BTS_FORM_LBL_STATION_BACKLOG"
             description="COM_BTS_FORM_DESC_STATION_BACKLOG">
                 <option value="0">JHIDE</option>
                 <option value="1">JSHOW</option>
         </field>
	</fieldset>
	
	<fieldset name="exportsetting" description="COM_BTS_EXPORTSETTING_DESC" label="COM_BTS_EXPORTSETTING_LABEL">
		<field name="export_warning_from"
			type="calendar"
			class="inputbox"
			default="0000-00-00"
			label="COM_BTS_EXPORT_WARNING_FROM_LABEL"
			description="COM_BTS_EXPORT_WARNING_FROM_DESC"
			format="%Y-%m-%d" filter="safehtml">
		</field>
		<field name="export_warning_to"
			type="calendar"
			class="inputbox"
			default="0000-00-00"
			label="COM_BTS_EXPORT_WARNING_TO_LABEL"
			description="COM_BTS_EXPORT_WARNING_TO_DESC"
			format="%Y-%m-%d" filter="safehtml">
		</field>
		<field name="export_notes_from"
			type="calendar"
			class="inputbox"
			default="0000-00-00"
			label="COM_BTS_EXPORT_NOTES_FROM_LABEL"
			description="COM_BTS_EXPORT_NOTES_FROM_DESC"
			format="%Y-%m-%d" filter="safehtml">
		</field>
		<field name="export_notes_to"
			type="calendar"
			class="inputbox"
			default="0000-00-00"
			label="COM_BTS_EXPORT_NOTES_TO_LABEL"
			description="COM_BTS_EXPORT_NOTES_TO_DESC"
			format="%Y-%m-%d" filter="safehtml">
		</field>
	</fieldset>

	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_bts" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>

</config>