<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>

       <field name="field" type="text" readonly="true"
            label="COM_BTS_FORM_LBL_CONFIG_FIELD"
            description="COM_BTS_FORM_DESC_CONFIG_FIELD"                 
            filter="string" /> 

       <field name="label" type="text"
            label="COM_BTS_FORM_LBL_CONFIG_LABEL"
            description="COM_BTS_FORM_DESC_CONFIG_LABEL" 
            filter="string" /> 

       <field name="displayable" type="list" size="1" class="inputbox"
            label="COM_BTS_FORM_LBL_CONFIG_DISPLAYABLE"
            description="COM_BTS_FORM_DESC_CONFIG_DISPLAYABLE" 
            default="1">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
       </field> 

       <field name="editable" type="list" size="40" class="inputbox"
            label="COM_BTS_FORM_LBL_CONFIG_EDITABLE"
            description="COM_BTS_FORM_DESC_CONFIG_EDITABLE">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
       </field> 
	</fieldset>

</form>
